<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
    <!--        <destination>127.0.0.1:4560</destination>-->
    <!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>-->
    <!--    </appender>-->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./logs/covid19-finance.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.levelup.covid19" level="INFO">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>